
#wpcsp-poststuff textarea {
    background-color: #fff;
    height: 200px;
    width: 80%;
    float: left;
}

.wpcsp-wpcspadmin label {
	clear:both;
	display:block;
}
.trWPCSPViewErrors {
}
.WPCSPHiddenEntry {
    display: none !important;
}
.WPCSPDisabledEntry {
    background-color: #ccc;
    color: #999;
}
.tdWPCSPViolatedDirective {
    max-width: 300px;
    min-width: 200px;
}
.tdWPCSPBlockedURL {
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
}
.tdWPCSPNumErrors {
    max-width: 10%;
    min-width: 50px;
    padding-right: 10px;
    text-align: right;
}
.tdWPCSPActionButtons {
    max-width: 20%;
    min-width: 200px;
}
.wpcsp-logoferrors thead td {
    font-weight: bold;
}
.wpcsp-logoferrors thead .tdWPCSPNumErrors {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}
.wpcsp_option_description {
    clear: none;
    float: left;
}
select {
    float: left;
}
.wpcsp_option_row td, .wpcsp_option_row th {
    vertical-align: top;
    overflow: hidden;
}
.wpcsp-wpcspadmin table {
    border-collapse: collapse;
}
.wpcsp-wpcspadmin table tbody tr:hover {
    background-color: #ffffed;
}
.wpcsp-wpcspadmin table tr td {
    padding: 5px;
}
.wpcsp-wpcspadmin table thead tr td {
    background-color:#e0e0e0;
}
.WPCSPBlockedURLFileError{
	clear:both;
}
.wpcsp_option_errors{
	clear:both;
}
.wpcsp_option_errors li{
	color:#ff0000;
}
.wpcsp_test_row td{
	 border-top:300px solid transparent;
	 font-size:smaller;
}